In [1]:
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
data =pd.read_csv("Cripto_data2.csv")

In [4]:
data

,Unnamed: 0,Date,Open,High,Low,Close,Adj Close,Volume,Cripto
0,0,2014-10-30,335.709015,350.912994,335.071991,345.304993,345.304993,30177900.0,BTC
1,1,2014-10-31,345.009003,348.045013,337.141998,338.321014,338.321014,12545400.0,BTC
2,2,2014-11-01,338.649994,340.528992,321.054993,325.748993,325.748993,16677200.0,BTC
3,3,2014-11-02,326.075012,329.049988,320.626007,325.891998,325.891998,8603620.0,BTC
4,4,2014-11-03,325.569000,334.002014,325.480988,327.553986,327.553986,12948500.0,BTC
...,...,...,...,...,...,...,...,...,...
9520,1528,2022-01-26,1813.814819,1861.973999,1673.215332,1706.681885,1706.681885,260720682.0,MKR
9521,1529,2022-01-27,1706.307983,1787.372925,1655.685669,1769.279297,1769.279297,187232810.0,MKR
9522,1530,2022-01-28,1768.952026,1874.516235,1736.091919,1872.471802,1872.471802,219022529.0,MKR
9523,1531,2022-01-29,1872.410278,1957.882324,1863.551392,1948.442749,1948.442749,93560252.0,MKR
9524,1532,2022-01-30,1950.592407,1971.543213,1940.510376,1946.990845,1946.990845,102377872.0,MKR

In [6]:
data.isnull().any()

Unnamed: 0    False
Date          False
Open           True
High           True
Low            True
Close          True
Adj Close      True
Volume         True
Cripto        False
dtype: bool

In [7]:
data.isnull().sum()

Unnamed: 0    0
Date          0
Open          3
High          3
Low           3
Close         3
Adj Close     3
Volume        3
Cripto        0
dtype: int64

In [8]:
data.dropna(inplace =True)

In [9]:
data.isnull().sum()

Unnamed: 0    0
Date          0
Open          0
High          0
Low           0
Close         0
Adj Close     0
Volume        0
Cripto        0
dtype: int64

In [10]:
data.columns

Index(['Unnamed: 0', 'Date', 'Open', 'High', 'Low', 'Close', 'Adj Close',
       'Volume', 'Cripto'],
      dtype='object')

In [11]:
data.drop(['Unnamed: 0', 'Adj Close','Volume' ],axis =1, inplace =True)
data

            Date         Open         High          Low        Close Cripto
0     2014-10-30   335.709015   350.912994   335.071991   345.304993    BTC
1     2014-10-31   345.009003   348.045013   337.141998   338.321014    BTC
2     2014-11-01   338.649994   340.528992   321.054993   325.748993    BTC
3     2014-11-02   326.075012   329.049988   320.626007   325.891998    BTC
4     2014-11-03   325.569000   334.002014   325.480988   327.553986    BTC
...          ...          ...          ...          ...          ...    ...
9520  2022-01-26  1813.814819  1861.973999  1673.215332  1706.681885    MKR
9521  2022-01-27  1706.307983  1787.372925  1655.685669  1769.279297    MKR
9522  2022-01-28  1768.952026  1874.516235  1736.091919  1872.471802    MKR
9523  2022-01-29  1872.410278  1957.882324  1863.551392  1948.442749    MKR
9524  2022-01-30  1950.592407  1971.543213  1940.510376  1946.990845    MKR

[9522 rows x 6 columns]

# Make  target value in USD

In [12]:
#data["Today_USD"] =  (data["Open"] + data["Close"] ) /2
data["Today_USD"] =  (data["Open"])

In [13]:
# making tomorrow result 
for id, crip in enumerate(data["Cripto"].unique()):
    ind_cript = data[data["Cripto"] == crip]
    ind_cript["Tomorrow_price(USD)"] =ind_cript["Today_USD"].shift(-1) 
    ind_cript.head()
    ind_cript.dropna(inplace =True)
    if (id ==0 ):
        BTC =ind_cript
    elif (id ==1 ):
        ADA = ind_cript
    elif (id == 2 ):
        BNB = ind_cript
    elif (id == 3 ):
        ETH = ind_cript
    elif (id == 4 ):
        USDT = ind_cript
        

file = pd.concat([BTC,ETH, BNB, ADA, USDT])
#files = pd.concat([BTC,ETH, BNB])

In [14]:
file.head()

,Date,Open,High,Low,Close,Cripto,Today_USD,Tomorrow_price(USD)
0,2014-10-30,335.709015,350.912994,335.071991,345.304993,BTC,335.709015,345.009003
1,2014-10-31,345.009003,348.045013,337.141998,338.321014,BTC,345.009003,338.649994
2,2014-11-01,338.649994,340.528992,321.054993,325.748993,BTC,338.649994,326.075012
3,2014-11-02,326.075012,329.049988,320.626007,325.891998,BTC,326.075012,325.569000
4,2014-11-03,325.569000,334.002014,325.480988,327.553986,BTC,325.569000,327.161011

In [15]:
for x, y in enumerate(data["Cripto"].unique()):
    file["Cripto"] = file["Cripto"].replace({y:  x})
    print("The cripto ", y, " is =", x)

The cripto  BTC  is = 0
The cripto  LTC  is = 1
The cripto  BNB  is = 2
The cripto  ETH  is = 3
The cripto  MKR  is = 4

In [16]:
file["Cripto"].unique()

array([0, 3, 2, 1, 4], dtype=int64)

In [17]:
file.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Cripto', 'Today_USD',
       'Tomorrow_price(USD)'],
      dtype='object')

In [18]:
file.drop(["Date","Today_USD"], inplace =True, axis =True)

# Scaling

In [19]:
file.head()

         Open        High         Low       Close  Cripto  Tomorrow_price(USD)
0  335.709015  350.912994  335.071991  345.304993       0           345.009003
1  345.009003  348.045013  337.141998  338.321014       0           338.649994
2  338.649994  340.528992  321.054993  325.748993       0           326.075012
3  326.075012  329.049988  320.626007  325.891998       0           325.569000
4  325.569000  334.002014  325.480988  327.553986       0           327.161011

In [20]:
from sklearn.model_selection import train_test_split

X = file.iloc[:,:-1]
Y = file.iloc[:,-1]

In [23]:
from sklearn.preprocessing import MinMaxScaler
#sc = MinMaxScaler()
scaler_x = MinMaxScaler()
scaler_y = MinMaxScaler()

scaler_x.fit(X)
X_sc = scaler_x.transform(X)
Y_sc = scaler_y.fit(file[["Tomorrow_price(USD)"]])
Y_sc =scaler_y.fit_transform(file[["Tomorrow_price(USD)"]])
X_sc,Y_sc

(array([[0.00494754, 0.00507836, 0.00502571, 0.00508833, 0.        ],
        [0.00508522, 0.00503667, 0.00505689, 0.00498496, 0.        ],
        [0.00499108, 0.0049274 , 0.00481455, 0.00479889, 0.        ],
        ...,
        [0.02523822, 0.02596077, 0.02492028, 0.02616385, 1.        ],
        [0.02616561, 0.0272276 , 0.02613157, 0.02769115, 1.        ],
        [0.02769723, 0.02843953, 0.0280517 , 0.02881556, 1.        ]]),
 array([[0.00508522],
        [0.00499108],
        [0.00480492],
        ...,
        [0.02616561],
        [0.02769723],
        [0.02885466]]))

In [25]:
#X,Y

In [26]:
#scaler_x.inverse_transform(X_sc)
#scaler_y.inverse_transform(Y_sc)

In [27]:
X_train,X_test, Y_train, Y_test = train_test_split( X_sc, Y_sc,test_size = 0.2, random_state = 42)

# machine learning algarithams comparitions

In [31]:
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.linear_model import SGDRegressor
from sklearn.linear_model import Lasso
from xgboost import XGBRegressor
from sklearn.linear_model import Ridge 
from sklearn.ensemble import RandomForestRegressor 
lr = LinearRegression()
svr =SVR()
sgdr = SGDRegressor()
ls = Lasso()
xgbr = XGBRegressor()
r = Ridge()
rfr = RandomForestRegressor()

alg = [lr, svr, sgdr, ls, xgbr, r,rfr]

In [29]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score

from math import sqrt

#rms = sqrt(mean_squared_error(y_actual, y_predicted))

In [30]:
for  x in alg:
    x.fit(X_train, Y_train)
    predict = x.predict(X_test)
    mse = mean_squared_error(Y_test, predict)
    rms = np.sqrt(mse)
    mae = mean_absolute_error(Y_test, predict)
    r2 = r2_score(Y_test, predict)

    print(x,"\n mse = ",mse,";  rms = ",rms," mae = ", mae, "R2 = ",r2)
    print()

LinearRegression()
 mse =  3.506365311936633e-08 ;  rms =  0.00018725291217859958  mae =  5.13066565547524e-05 R2 =  0.9999980244569144

SVR()
 mse =  0.00700137291260757 ;  rms =  0.08367420697328162  mae =  0.08018892608189807 R2 =  0.6055312947528173

SGDRegressor()
 mse =  4.138465146963142e-05 ;  rms =  0.006433090351427641  mae =  0.004631493300908045 R2 =  0.9976683216154743

Lasso()
 mse =  0.01776440749862457 ;  rms =  0.13328318535593517  mae =  0.0701029797950314 R2 =  -0.0008755301188385634

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
             gamma=0, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.300000012,
             max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=100, n_jobs=4,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)
 mse =  2.44063471586609e-06 ;  rms =  0.0015622530895684252  mae =  0.0003860903436542056 R2 =  0.999862490681704

Ridge()
 mse =  6.691634506599768e-06 ;  rms =  0.002586819380358777  mae =  0.0007538025160635966 R2 =  0.9996229824589042

RandomForestRegressor()
 mse =  6.344130468026847e-07 ;  rms =  0.0007965005001898522  mae =  0.0001436960090624082 R2 =  0.9999642561400045

# Prediction Testiong

In [32]:

lr.fit(X_train, Y_train)
predictlr = lr.predict(X_test)
mse = mean_squared_error(Y_test, predictlr)
rms = np.sqrt(mse)
mae = mean_absolute_error(Y_test, predictlr)
r2 = r2_score(Y_test, predictlr)

print(x,"\n mse = ",mse,";  rms = ",rms," mse = ", mae, "R2 = ",r2)
print()
predictlr

RandomForestRegressor()
 mse =  3.506365311936633e-08 ;  rms =  0.00018725291217859958  mse =  5.13066565547524e-05 R2 =  0.9999980244569144

array([[0.00046005],
       [0.12205617],
       [0.00124384],
       ...,
       [0.04119796],
       [0.00086054],
       [0.00048173]])

In [33]:
scaler_y.inverse_transform(Y_test)[:10]

array([[   32.999283],
       [ 8243.402344],
       [   86.262299],
       [  490.515656],
       [  227.965057],
       [  453.789032],
       [  131.925003],
       [  730.065979],
       [13437.874023],
       [11541.054688]])

In [34]:
scaler_y.inverse_transform(predictlr)[:10]

array([[   32.58704461],
       [ 8246.18902004],
       [   85.53050356],
       [  494.182717  ],
       [  227.87545759],
       [  454.25941177],
       [  131.32532784],
       [  729.30271235],
       [13438.72456652],
       [11544.58875402]])

In [38]:
z= []
for x in (X.columns.unique()):
    print("Enter ",x, "value")
    a= input()
    z.append(a)

Enter  Open value
4
Enter  High value
4
Enter  Low value
4
Enter  Close value
4
Enter  Cripto value
4

In [39]:
a =[1,2,3,4,5]
A =np.array([a])
A.shape

(1, 5)

In [42]:
test_input = scaler_x.transform(A)

In [44]:
test_input

array([[-7.57029537e-06,  6.06704284e-06,  2.31609838e-05,
         3.68478989e-05,  1.25000000e+00]])

In [45]:
pred =lr.predict(test_input)
#z = input_scale.transform(pred)
#input_scale.inverse_transform(z)

In [46]:
pred

array([[4.32708007e-05]])

In [47]:
import joblib
joblib.dump(lr,"BTC(Open)_lr_sc.pkl")

['BTC(Open)_lr_sc.pkl']